@import './fonts.scss';
$color: #DEDEEA;
$color-dark: rgba(109, 108, 108, 0.68);
.auth-container {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth-btns {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    width: auto;
    justify-content: end;
    transition: 0.5s;
    align-items: center;
    button {
        background-color: unset;
        padding: 0.5rem 1rem;
        border: none;
        color: $color;
        font-family: 'iran-sans';
        outline: none !important;
        height: 45px;
    }
    button:hover,
    button:focus {
        cursor: pointer;
        box-shadow: none !important;
        outline: none !important;
    }
    .active {
        color: black;
        border-bottom: 3px solid rgba(255, 83, 83, 1) !important;
    }
    width: 100%;
    background-repeat:no-repeat;
    height: 100%;
}

//login & Sign up component
.sign-up {
    max-width: 350px!important;
    background-color: white;
    font-family: 'iran-sans' !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem 0.5rem;
    padding: 2rem;
    direction: rtl;
}

.title-auth {
    text-align: center;
    font-size: 1em;
    margin: 1rem 0;
    padding-bottom: 1rem;
    color: #707172;
}

.inputs-text {
    display: flex;
    background-color: #f9f9f9;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    margin: 20px 10px;
    img {
        width: 23px;
        opacity: 50%;
    }
    .input-text {
        border: none!important;
        outline: none !important;
        background-color: unset;
        font-size: 1rem;
        width: 200px !important;
        &:focus,
        &:hover {
            box-shadow: none !important;
            outline: none !important;
            background-color: unset;
        }
        font-family:'vazir';
        color:rgb(53, 52, 52);
    }
}

.login-links-container {
    direction: rtl;
    text-align: start;
    padding: 0 20px;
    margin: 5px 0 40px 0;
}

.forgot-pass {
    font-size: 11px;
    color: $color-dark;
    &:focus,
    &:hover {
        text-decoration: none;
        color: $color-dark;
    }
}

.round {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: $color-dark;
    span {
        margin-right: 20px;
        display: inline-block;
        text-align: start;
    }
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    height: 13px;
    position: absolute;
    top: 0;
    width: 13px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 10px;
    left: 1px;
}

label {
    display: inline-block;
    margin-top: 3px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background: rgba(255, 83, 83, 1);
    border-color: rgba(255, 83, 83, 1);
    opacity: 100% !important;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.btn-container {
    text-align: center;
}

.form-button-login {
    background: rgb(238, 9, 87);
    background: linear-gradient(4deg, rgba(238, 9, 87, 1) 0%, rgba(255, 83, 83, 1) 83%);
    border: none!important;
    border-radius: 20px !important;
    font-family: 'iran-sans' !important;
    padding: 0.7rem 1rem !important;
    margin-bottom: 1rem !important;
    width: 91%;
    &:focus,
    &:hover {
        outline: none !important;
        background-color: unset;
        @include box-shadow(0px 0px 8px 0px #CCC9CC);
    }
}

.login-img {
    width: 35%;
    position: relative;
    top: -35px;
    left: -75px;
}

.base-line {
    margin-top: 2rem;
    border-bottom: 1px solid $color;
}

.login-text-social {
    position: relative;
    top: -14px;
    background-color: white;
    padding: 0 14px;
}

.social-accounts {
    text-align: center;
}

.social-icons {
    display: grid;
    grid-template-columns: auto auto;
}

.icons {
    align-self: center;
    display: flex;
    flex-direction: row;
    img {
        width: 25px;
        margin-right: 5px;
    }
    border-radius:15px;
    color:$color-dark;
    margin:20px auto 0 auto;
    padding: 11px 20px;
    background: rgb(238, 9, 87);
    background: linear-gradient(4deg, rgba(238, 9, 87, 1) 0%, rgba(255, 83, 83, 1) 83%);
    color:white;
    border: none !important;
}

.icons:hover {
    @include box-shadow(0px 0px 8px 0px #CCC9CC);
    cursor: pointer;
}

.contact-us {
    direction: rtl;
    font-size: 11px;
    color: $color-dark;
}

.contact-us a {
    color: rgba(238, 9, 87, 1) !important;
}

@media (max-width:991.9px) {
    .auth-links {
        display: flex;
        flex-direction: column;
    }
}

.modal-auth .modal-dialog {
    max-width: 370px;
    margin: 1.75rem auto;
}

.modal-auth .modal-content {
    border-radius: 1.3rem;
}

.auth-button-appbar {
    background: unset;
    border: none;
    &:focus,
    &:hover {
        outline: none !important;
    }
}