.sidebar-container {
    position: absolute;
    right: 0;
    direction: rtl;
    text-align: start;
    background: rgb(238, 9, 87);
    background: linear-gradient(4deg, rgba(238, 9, 87, 1) 0%, rgba(255, 83, 83, 1) 83%);
    border-radius: 15px 0 0 15px;
    z-index: 4;
    padding: 2rem 1rem;
    width: 85px;
    ul {
        padding-right: 0;
    }
    &:hover .sidebar-item-title {
        display: block;
    }
    max-height:max-content;
    &:hover {
        animation-name: sidebar;
        animation-duration: 1s;
        width: 230px;
    }
}

.sidebar-item {
    padding: 0.5rem 0;
    list-style: none;
    margin: 0.8rem 0;
    display: flex;
    img {
        width: 20px;
        margin: 0 1rem 0 1rem;
    }
    .sidebar-item-title {
        font-family: 'iran-sans';
        &:hover {
            text-decoration: none;
        }
        display:none;
        color: #E9E9E9;
    }
    &:hover,
    &:focus {
        border-right: 3px solid #E9E9E9;
        .sidebar-item-title {
            color: white;
        }
    }
}

@keyframes sidebar {
    from {
        width: 185px;
    }
    to {
        width: 230px;
    }
}