@font-face {
    font-family: 'aviny';
    src: url("./../Assests/fonts/aviny-700.eot") format("eot"), url("./../Assests/fonts/aviny-700.ttf") format('truetype'), url("./../Assests/fonts/aviny-700.woff") format('woff');
}

@font-face {
    font-family: 'vazir';
    src: url("./../Assests/fonts/vazir-700.eot") format("eot"), url("./../Assests/fonts/vazir-700.ttf") format('truetype'), url("./../Assests/fonts/vazir-700.woff") format('woff');
}

@font-face {
    font-family: 'iran-sans';
    src: url("./../Assests/fonts/iran-sans-700.eot") format("eot"), url("./../Assests/fonts/iran-sans-700.ttf") format('truetype'), url("./../Assests/fonts/iran-sans-700.woff") format('woff');
}