@font-face {
    font-family: 'aviny';
    src: url("./../Assests/fonts/aviny-700.eot") format("eot"), url("./../Assests/fonts/aviny-700.ttf") format('truetype'), url("./../Assests/fonts/aviny-700.woff") format('woff');
}

@font-face {
    font-family: 'vazir';
    src: url("./../Assests/fonts/vazir-400.eot") format("eot"), url("./../Assests/fonts/vazir-400.ttf") format('truetype'), url("./../Assests/fonts/vazir-400.woff") format('woff');
}

@font-face {
    font-family: 'iran-sans';
    src: url("./../Assests/fonts/iran-sans-400.eot") format("eot"), url("./../Assests/fonts/iran-sans-400.ttf") format('truetype'), url("./../Assests/fonts/iran-sans-400.woff") format('woff');
}

@font-face {
    font-family: 'homa';
    src: url("./../Assests/fonts/B Homa_0.ttf") format('truetype')
}