@mixin box-shadow ($data) {
    -webkit-box-shadow: $data;
    -moz-box-shadow: $data;
    box-shadow: $data;
}

@mixin responsive($size) {
    @if $size==Extera small {
        @media screen and (max-width: 576px) {
            @content
        }
        ;
    }
    @if $size==small {
        @media screen and (max-width: 768px) {
            @content
        }
        ;
    }
    @if $size==medium {
        @media screen and (max-width: 990px) {
            @content
        }
        ;
    }
    @if $size==large {
        @media screen and (max-width: 1200px) {
            @content
        }
        ;
    }
    @if $size==Extra large {
        @media screen and (min-width: 1200.01px) {
            @content
        }
        ;
    }
}