@mixin box-shadow ($data) {
    -webkit-box-shadow: $data;
    -moz-box-shadow: $data;
    box-shadow: $data;
}

// @mixin gradient ($color1, $color2) {
//     background: rgba(238, 9, 87, 1);
//     background: -moz-linear-gradient(-45deg, rgba(238, 9, 87, 1) 0%, rgba(247, 48, 85, 1) 50%, rgba(247, 48, 85, 1) 51%, rgba(251, 65, 84, 1) 71%, rgba(255, 83, 83, 1) 100%);
//     background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238, 9, 87, 1)), color-stop(50%, rgba(247, 48, 85, 1)), color-stop(51%, rgba(247, 48, 85, 1)), color-stop(71%, rgba(251, 65, 84, 1)), color-stop(100%, rgba(255, 83, 83, 1)));
//     background: -webkit-linear-gradient(-45deg, rgba(238, 9, 87, 1) 0%, rgba(247, 48, 85, 1) 50%, rgba(247, 48, 85, 1) 51%, rgba(251, 65, 84, 1) 71%, rgba(255, 83, 83, 1) 100%);
//     background: -o-linear-gradient(-45deg, rgba(238, 9, 87, 1) 0%, rgba(247, 48, 85, 1) 50%, rgba(247, 48, 85, 1) 51%, rgba(251, 65, 84, 1) 71%, rgba(255, 83, 83, 1) 100%);
//     background: -ms-linear-gradient(-45deg, rgba(238, 9, 87, 1) 0%, rgba(247, 48, 85, 1) 50%, rgba(247, 48, 85, 1) 51%, rgba(251, 65, 84, 1) 71%, rgba(255, 83, 83, 1) 100%);
//     background: linear-gradient(135deg, rgba(238, 9, 87, 1) 0%, rgba(247, 48, 85, 1) 50%, rgba(247, 48, 85, 1) 51%, rgba(251, 65, 84, 1) 71%, rgba(255, 83, 83, 1) 100%);
// }